body {
	background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

h1 {
	font-size: 68px;
	padding: 50px;
}

.choice {
	background-color: black;
	color: white;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 15px;
	border:none;
		cursor: pointer;

}
.question {
	max-width: 400px;
	padding: 5px;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: beige;
	color: black;
	font-size: 28px;
	font-family: 'Gloria Hallelujah', cursive;
	border:solid silver 0.2px;
}

#startButton {
	padding: 5px 10px 5px 10px;
background-color: orange;
font-size: 20px;
font-family: "arial";
font-weight: 600;
cursor: pointer;


}
#startButton:hover {
	background-color: grey;
	border: black solid 1px;
	color: white;
}

.clock {
	font-size: 35px;
	padding:5px;
	color: red;
	font-family: 'Kumar One', cursive;
}
button:focus {outline:0;}



